<h2>DR. <%= @doctor.name %>'s Information Page </h2>
<p>Specialty: <%= @doctor.specialty %></p>
<p>Alma Matter: <%= @doctor.university %></p>
<p>Practices Medicine at <%= @hospital.name %></p>

<% @patients.each do |patient| %>
  <div id="doctor_patients_<%= patient.id %>">
    <%= patient.name %>
  </div>
<% end %>
